

/*********************************************************************************************/
// Main

/*********************************************************************************************/

/* ============================================= */
/*              Base styles                      */
/* ============================================= */
 

* {
    font-family: $mainfont;
    color: $maincolor;
    box-sizing: border-box;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }