//font family , size and font weight
// a h1 body universal selector
 
//key style variables

$mainfont: 'Lato', sans-serif;
$linkfweight: 300;
$typomaincol: #58e1c1; 


//maximum container width : for first break point
$maxcntwid: 1400px;